#mainVisionnage{display: grid;
grid-template-columns: 200px 1fr;
grid-template-rows: 250px 1fr 150px;
}

#vMenubar{background-color: blue;
grid-row: 1;
grid-column: 1 / span 2;
}

#vLeftMenubar{background-color: blue;
grid-row: 1 / span 3;
grid-column: 1;
}

#vFooter{background-color: blue;
grid-row: 3;
grid-column: 1 / span 2;
}

#visionnage{display: flex;
flex-direction: column;
padding: 15px;
background-image: url(../img/backHorreur.jpg);
font-family: Leoscar;
letter-spacing: 1px;
}

#videoVisionnage{align-self: center;}

#descriptVisionnage{display: flex;
;}

h1{font-size: 40px;}

h1, h2, h3{display: inline;
background-color: darkred;
border-radius: 5px 10px 0 5px;
justify-content: flex-start;
}

p{background-color: azure;
border-radius: 5px 10px 0 5px;
}

label{background-color: #C96C74;
    border-radius: 5px 10px 0 5px;
}
.buttonHorreurVisionnage{justify-content: top right;}



@media only screen and (max-width:320px)
{}

@font-face {
    font-family: Leoscar;
    src: url(../fonts/Leoscar.ttf);
}
