@media screen and (min-width: 800px){

#container{
    border:2px solid black;
    padding:10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px aut1fro;
}
label{
    justify-self:left;
    align-self: left;
}

input{
    height: 2vh;
    justify-self: left;
    align-self: left;
}

.ligne1{
    background-color: aquamarine;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    font-size: xx-large;
}

#container form {
    grid-column: 1;
    grid-row: 2;
}


#formInscription {
    background-color: antiquewhite;
    border:2px solid black;
    padding:10px;
    height:400px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(10, 1fr);
}

.inscriptionCivilite {
    grid-column:1 ;
    grid-row: 1;
    justify-self: left;
    align-self: left;
}

.inscriptionNom {
    grid-column:3 ;
    grid-row: 1;
}

.inscriptionNomBox {
    grid-column: 4;
    grid-row: 1;
}

.inscriptionPrenom{
    grid-column: 1;
    grid-row: 2;
}

.inscriptionPrenombox{
    grid-column: 2;
    grid-row: 2;
}

.inscriptionNaissance{
    grid-column: 3;
    grid-row: 2;
}

.inscriptionNaissancebox{
    grid-column: 4;
    grid-row: 2;
}

.inscriptionEmail{
    grid-column: 1;
    grid-row: 3;
}

.inscriptionEmailbox{
    grid-column: 2;
    grid-row: 3;
}

.inscriptionConfie{
    grid-column: 3;
    grid-row: 3;
}

.inscriptionConfiebox{
    grid-column: 4;
    grid-row: 3;
}

.inscriptionMotdepasse{
    grid-column: 1;
    grid-row: 4;
}

.inscriptionMotdepassebox{
    grid-column: 2;
    grid-row: 4;
}

.inscriptionconfirmer{
    grid-column: 3;
    grid-row: 4;
}

.inscriptionconfirmerbox{
    grid-column: 4;
    grid-row: 4;
}

h2{
    grid-column: 2;
    grid-row: 5;
    grid-column: 1/span 4;
    text-align: center;
    font-size: large;
    text-decoration: underline;
}

.inscriptionPref{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
}

.inscriptionPref input{
    appearance: none;
    margin-right: 20px;
    transform: translateY(-5px);
    border: 2px solid black;
    height: 20px;
    width: 20px;
    border-radius: 0%;
    
}

.inscriptionPref input:checked{
    border-radius: 50%;
}

.inscriptionPref1{
    grid-column: 1;
    grid-row: 6;
}

.inscriptionPref2{
    grid-column: 1;
    grid-row: 7;
}

.inscriptionPref3{
    grid-column: 1;
    grid-row: 8;
}

.inscriptionPref4{
    grid-column: 1;
    grid-row: 9;
}

.inscriptionValidation{
    grid-column: 1;
    grid-row: 10;
}
}

@media all and (max-width: 800px){
    #container{
        width: 80%;
        height: 100%;
        display:block;
        margin: auto;
    }
    label{
        justify-self:left;
        align-self: center;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    input{
        height: 3vh;
        width: 80%;
        justify-self: center;
        align-self: center;
        margin-bottom: 15px;
    }
    
    .ligne1{
        background-color: rgb(255, 168, 127);
        grid-column: 1 / span 2;
        grid-row: 1;
        text-align: center;
        font-size: xx-large;
    }
    body{
        margin: 0px;
        width: 100%;
    }
    
    #formInscription {
        background-color: antiquewhite;
        border: 2px solid black;
        display: flex;
        width:100%;
        flex-direction: column;
        padding-left:10px;
    }
    
    .inscriptionCivilite {
        justify-self: center;
        align-self: center;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    #liste {
        top:0%;
        left:0%;
        height:27px;
        transform:translate(25%, -15%);
        margin-left: 20px;
    }
    
    h2{
        text-align: center;
        font-size: larger;
        text-decoration: underline;
    }
    
    .inscriptionPref{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
    .inscriptionPref input{
        appearance: none;
        margin-right: 20px;
        transform: translateY(-5px);
        border: 2px solid black;
        height: 20px;
        width: 20px;
        border-radius: 0%;
        background-color: white;
    }
    .inscriptionValidation{
        margin: auto;
    }
}
